{% extends 'base.html' %}

{% block content %}
    <h1>This is the Page</h1>

    <form>

        <!--INPUT 1-->
        <div class="form-group">
            <label>Input 1:</label>
            <input type="text" class="form=control" placeholder="Enter text:"></input>

        <!--SUBMIT BUTTON 1-->
            <button class="button" onclick="input1()">Submit</button>
        </div>

        <br>

        <!--INPUT 1 OUTPUT-->
        <div class="alert alert-primary" role="alert" id="output">Input1 Output</div>

        <!--JS FOR OUTPUT 1-->
        <script type="text/javascript">
            function input1() {
                document.getElementById('output').innerHTML = 'You need to now retrieve the data from whats submitted in Input1';
            }
        </script>

    </form>
{% endblock %}